@using TallerMecanico.Models.ViewModels;
@model RecoveryPasswordVm
@{
    ViewData["Title"] = "Recovery";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="form-box">

    <form class="form" action="@Url.Content("~/Access/Recovery")" method="post">
        @if (!string.IsNullOrEmpty(@ViewBag.Error))
        {
            <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
                <strong> @ViewBag.Error</strong>
            </div>
        }
        <span class="title">Cambio de contraseña</span>
        @Html.HiddenFor(d=>d.token)
        <label>Escribe tu nueva contraseña</label>
        @Html.PasswordFor(d=>d.Password,new{@class="form-control"})
        <label>Ingresa nuevamente tu contraseña</label>
        @Html.PasswordFor(d=>d.Password2,new{@class="form-control"})
        <br />
        <button type="submit" class="boton">Recuperar</button>
    </form>

