@using TallerMecanico.Models.ViewModels;
@model RecoveryVm
@{
    ViewData["Title"] = "StartRecovery";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="recovery">
    <form class="form" action="@Url.Content("~/Access/StartRecovery")" method="post">
        @if (!string.IsNullOrEmpty(@ViewBag.Error))
        {
            <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
                <strong> @ViewBag.Error</strong>
            </div>
        }
        <span class="title">Recuperación de contraseña.</span>
        <p class="description">Se le enviara un enlace a su correo electronico donde podra cambiar su contraseña.</p>
        <div>
            @Html.TextBoxFor(d=>d.Email,null,new{@class="form-control"})
            <button>Recuperar</button>
        </div>
        @Html.ValidationMessageFor(d=>d.Email,null,new {style = "color:red"})
    </form>
</div>